<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        .page {
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }

        .button {
            color: white;
            margin: 10px;
        }

        .btn-primary {
            margin-bottom: 10px;
        }

        .btn btn-link {
            color: black;
        }

        .comment-area {
            margin-bottom: 5px;
        }

        .content {
            margin: 10px;
        }

    </style>

    <title>Filmy</title>
</head>
<body class="page">

<a href="/">Powrót do listy filmów</a>

<h4>Tytuł filmu:</h4>
<h4 th:text="${movie.title}"></h4>
<p th:text="|Data premiery: ${movie.premiereDate}|"></p>
<p th:text="|Budżet: ${movie.budget}|"></p>
<p th:text="|Dla kogo: ${movie.targetAudience}|"></p>
<div class="button">
    <a class="btn btn-primary" th:href="|/usun/${movie.id}|">Usuń film</a>
</div>
<h5>Dodaj aktora</h5>
<form action="/addactor" method="post">
    <div class="form-group">
        <input type="hidden" th:value="${movie.id}" name="movieId"/><br/>
        <input type="text" placeholder="Aktor nameActor" name="name" class="form-control"/><br/>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Dodaj aktora</button>
    </div>
</form>
<div th:each="actor: ${movie.actors}" style="border: 1px solid">
    <p th:text="${actor.name}"></p>
    <button class="btn btn-link">
        <a class="button" th:href="|/deletactor/${actor.id}|">Usuń aktora</a>
    </button>
</div>

<h5>Dodaj komentarz</h5>
<form action="/addcomment" method="post">
    <div class="form-group">
        <input type="hidden" th:value="${movie.id}" name="movieId"/><br/>
        <input type="text" placeholder="Nickname" name="author" class="form-control"/><br/>
        <textarea name="content" class="form-control"></textarea><br/>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Dodaj komentarz</button>
    </div>
</form>
<div class="comment-area" th:each="comment: ${movie.comments}" style="border: 1px solid">
    <div class="content">
        <p th:text="${#temporals.format(comment.addedTime, 'yyyy-MM-dd HH:mm')}"></p>
        <p th:text="${comment.content}"></p>
        <p th:text="${comment.author}"></p>
        <button class="btn btn-link">
            <a class="button" th:href="|/deletecomment/${comment.id}|">Usuń komentarz</a>
        </button>
    </div>
</div>
</body>
</html>